/VeryGoodBook_Lib(0130)/build/
/VeryGoodBook_Lib(0130)/dist/
/VeryGoodBook_Lib(0130)/nbproject/private/
/VeryGoodBook_Lib_teacher(0130)/build/
/VeryGoodBook_Lib_teacher(0130)/dist/
/VeryGoodBook_Lib_teacher(0130)/nbproject/private/
/VeryGoodBook_Lib(0202me)/build/
/VeryGoodBook_Lib(0202me)/nbproject/private/
/VeryGoodBook_practice_Lib/build/
/VeryGoodBook_practice_Lib/dist/
/VeryGoodBook_practice_Lib/nbproject/private/
/Mod11/build/
/Mod11/nbproject/private/
/Heartprint/VeryGoodBook_Lib/build/
/Heartprint/VeryGoodBook_Lib/dist/
/Heartprint/VeryGoodBook_Lib/nbproject/private/