/VeryGoodBook_Lib(0130)/build/
/VeryGoodBook_Lib(0130)/dist/
/VeryGoodBook_Lib(0130)/nbproject/private/
/VeryGoodBook_Lib_teacher(0130)/build/
/VeryGoodBook_Lib_teacher(0130)/dist/
/VeryGoodBook_Lib_teacher(0130)/nbproject/private/